{% extends 'monTemplate.html.twig' %}

{% block contenu %}
    <h1>Modifier Formation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('formation_index') }}">Retour à la liste</a>

{% endblock %}
