 {% extends 'monTemplate.html.twig' %}

 {% block title %} Prostage - Ajouter une entreprises {% endblock %}

 {% block contenu %}
 
 {% if action == "ajouter" %}
 <h2> Ajout d'une entreprise </h2>

 {% else %}
 <h2> Modifier une entreprise </h2>
 {% endif %}

{{form_start(vueFormulaireEntreprise, {'attr' : {'novalidate' : 'novalidate'}})}}

{{ form_label(vueFormulaireEntreprise.Nom)}}
{{ form_widget(vueFormulaireEntreprise.Nom)}}
{{ form_errors(vueFormulaireEntreprise.Nom)}}

{{ form_label(vueFormulaireEntreprise.Activite)}}
{{ form_widget(vueFormulaireEntreprise.Activite)}}
{{ form_errors(vueFormulaireEntreprise.Nom)}}

{{ form_label(vueFormulaireEntreprise.Adresse)}}
{{ form_widget(vueFormulaireEntreprise.Adresse)}}
{{ form_errors(vueFormulaireEntreprise.Nom)}}


{{ form_label(vueFormulaireEntreprise.SiteWeb)}}
{{ form_widget(vueFormulaireEntreprise.SiteWeb)}}
{{ form_errors(vueFormulaireEntreprise.Nom)}}

<br><button type="submit" class="btn btn-dark">Valider</button>
{{form_end(vueFormulaireEntreprise)}}
{% endblock %}