 {% extends 'monTemplate.html.twig' %}

 {% block title %} Prostage - Ajouter une entreprises {% endblock %}

 {% block contenu %}
 
 {% if action == "ajouter" %}
 <h2> Ajout d'une entreprise </h2>

 {% else %}
 <h2> Modifier une entreprise </h2>
 {% endif %}

{{form_start(vueFormulaireEntreprise, {'attr' : {'novalidate' : 'novalidate'}})}}

{{ form_label(vueFormulaireEntreprise.nom)}}
{{ form_widget(vueFormulaireEntreprise.nom)}}


{{ form_label(vueFormulaireEntreprise.activite)}}
{{ form_widget(vueFormulaireEntreprise.activite)}}


{{ form_label(vueFormulaireEntreprise.adresse)}}
{{ form_widget(vueFormulaireEntreprise.adresse)}}
{{ form_errors(vueFormulaireEntreprise.adresse)}}


{{ form_label(vueFormulaireEntreprise.siteWeb)}}
{{ form_widget(vueFormulaireEntreprise.siteWeb)}}


<br><button type="submit" class="btn btn-dark">Valider</button>
{{form_end(vueFormulaireEntreprise)}}
{% endblock %}